{% if data.constants %}
<section class="constants-section">
  <h2>Constants</h2>
  {% for constant in data.constants %}
    <div class="constant" id="constant-{{ constant.name }}">
      {{ constant.signature | highlight(language="zig") }}
      {% if constant.doc %}
        <div class="docstring">
          {{ constant.doc | markdown | safe }}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</section>
{% endif %}