{% if data.functions %}
<section class="functions-section">
  {% filter heading(heading_level, id=html_id ~ "-functions") %}Functions{% endfilter %}
  {% with heading_level = heading_level + 1%}
  {% for func in data.functions %}
    {% include "partials/function.html.jinja" %}
  {% endfor %}
  {% endwith %}
</section>
{% endif %}