<div class="func">
  {% filter heading(heading_level, id=html_id ~ func.name) %}{{ func.name }}{% endfilter %}
  {% if func.signature %}
  <div class="signature">
    {{ func.signature | highlight(language="zig") }}
  </div>
  {% endif %}
  
  {% if func.doc %}
  <div class="docstring">
    {{ func.doc | markdown | safe }}
  </div>
  {% endif %}
  
  {% include "partials/parameters.html.jinja" %}
</div>