{% if struct.functions %}
<div class="methods">
  {% filter heading(heading_level, id=html_id ~ "-methods") %}Methods{% endfilter %}
  {% with heading_level = heading_level + 1 %}
  {% for func in struct.functions %}
    {% include "partials/function.html.jinja" %}
  {% endfor %}
  {% endwith %}
</div>
{% endif %}