{% if data.structs %}
<section class="structs-section">
  <h2>Structures</h2>
  {% for struct in data.structs %}
    <div class="struct" id="struct-{{ struct.name }}">
      <h3>{{ struct.name }}</h3>
      
      {% if struct.doc %}
      <div class="docstring">
        {{ struct.doc | markdown | safe }}
      </div>
      {% endif %}
      
      {% include "partials/fields.html.jinja" %}
      {% include "partials/methods.html.jinja" %}
    </div>
  {% endfor %}
</section>
{% endif %}