{% if parent.node_type == "const" %}
  <div class="constant" id="constant-{{ parent.short_signature }}">
    {% filter heading(heading_level, id=html_id ~ parent.name) %}{{ parent.short_signature }}{% endfilter %}
    {% include "docstring.html.jinja" %}
  </div>
{% endif %}