name: Documentation
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main      

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Setup uv
        uses: astral-sh/setup-uv@v6

      - name: Build docs
        run: uv run mkdocs build

      - name: Build demo
        run: |
          cd test_zig_project
          uv run mkdocs build
          cd ..
      
      - name: Copy demo docs into deployment directory
        run: |
          cp -r test_zig_project/site site/demo

      - name: Deploy docs
        if: github.event_name != 'pull_request'
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          git-config-name: github-actions[bot]
          git-config-email: 41898282+github-actions[bot]@users.noreply.github.com
          folder: site
          single-commit: true
