name: release

on: push
permissions:
  contents: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
        fetch-tags: true

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.12"

    - name: Setup uv
      uses: astral-sh/setup-uv@v6

    - name: Prepare release notes
      run: uv tool run git-changelog --release-notes > release-notes.md

    - name: Create release
      uses: softprops/action-gh-release@v2
      with:
        body_path: release-notes.md

    - name: Build project
      run: |
        uv build

    - name: Publish on pypi.org
      uses: pypa/gh-action-pypi-publish@v1.13.0
